/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ff6600;
  }
  
  .navbar-login {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ff6600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-login:hover {
    background-color: #ff8533;
  }
  