<app-header></app-header>
<div class="outer-container">
  <div class="container">
    <div class="card">
      <h1>Login</h1>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter Password" #passwordField>
            <div class="input-group-append">
              <input type="checkbox" (change)="togglePasswordVisibility(passwordField)" id="showPasswordCheckbox">
              <label for="showPasswordCheckbox">Show Password</label>
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <button type="button" class="btn btn-secondary" [routerLink]="'/signup'">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
