<app-header></app-header>

<div class="content">
  <div class="background-photos">
    <div class="background-photo"></div>
    <div class="background-photo"></div>
    <div class="background-photo"></div>
    <div class="background-photo"></div>
  </div>
  <h1>Welcome to Our Fitness Website!</h1>
  <p>Stay active and healthy with our wide range of fitness services tailored to meet your needs.</p>
  
  <h2>About Us</h2>
  <p>At our fitness website, we are committed to helping individuals achieve their fitness goals and lead a healthy lifestyle. Our mission is to provide the highest quality fitness services and create a supportive community for our members.</p>
  <p>Our dedicated team of fitness experts is passionate about guiding you on your fitness journey. We believe in personalized training programs that focus on strength, endurance, flexibility, and overall well-being.</p>
  
  <h2>Our Services</h2>
  <p>Discover our comprehensive range of services designed to cater to all fitness levels:</p>
  <ul>
    <li>Personal Training</li>
    <li>Group Classes</li>
    <li>Nutritional Counseling</li>
    <li>Calisthenics</li>
    <li>Animal Flow</li>
  </ul>
  
  <p>At Fitness App, we go beyond traditional fitness services to provide you with a holistic approach to well-being. In addition to our core offerings, we also offer:</p>
  <ul>
    <li>Virtual Training</li>
    <li>Workout Tracking</li>
    <li>Community Support</li>
    <li>Special Events</li>
  </ul>
  </div>
  
  <app-footer></app-footer>

